<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="icon" href="/images/favicon.ico" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <!-- cookies -->
    <div
      id="cookies-popup"
      class="popup transition-all overflow-y-auto duration-500 fixed inset-0 z-[100] flex items-center justify-center p-4 bg-black bg-opacity-50"
    >
      <div
        class="bg-white p-8 rounded-lg shadow-lg max-w-2xl w-full max-h-[90vh] overflow-y-auto"
      >
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-2xl font-semibold text-gray-800">
            Your Privacy Matters
          </h2>
          <button
            id="closeBtn"
            class="text-gray-500 hover:text-gray-700 text-2xl"
          >
            &times;
          </button>
        </div>
        <p class="text-gray-600 mb-4">
          We use cookies to ensure that we give you the best experience on our
          website. These cookies help us to personalize content and ads, provide
          social media features, and analyze our traffic. You can choose to
          accept all cookies or customize your settings to manage your
          preferences.
        </p>
        <div class="mb-6">
          <h3 class="text-lg font-semibold text-gray-800">
            What cookies do we use?
          </h3>
          <ul class="list-disc pl-5 mt-2 space-y-1 text-gray-600">
            <li>
              <strong>Essential Cookies:</strong> These cookies are necessary
              for the website to function and cannot be switched off in our
              systems.
            </li>
            <li>
              <strong>Performance Cookies:</strong> These cookies allow us to
              count visits and traffic sources so we can measure and improve the
              performance of our site.
            </li>
            <li>
              <strong>Functional Cookies:</strong> These cookies enable the
              website to provide enhanced functionality and personalization.
            </li>
            <li>
              <strong>Targeting Cookies:</strong> These cookies may be set
              through our site by our advertising partners to build a profile of
              your interests and show you relevant adverts.
            </li>
          </ul>
        </div>
        <div
          class="mt-4 flex flex-col sm:flex-row justify-between space-y-2 sm:space-y-0 sm:space-x-4"
        >
          <button
            id="customizeBtn"
            class="px-4 py-2 border border-gray-300 rounded-md text-gray-600 hover:bg-gray-100"
          >
            Customize Settings
          </button>
          <button
            id="rejectBtn"
            class="px-4 py-2 border border-gray-300 rounded-md text-gray-600 hover:bg-gray-100"
          >
            Reject All
          </button>
          <button
            id="accept-cookies"
            class="px-4 py-2 bg-[#ffb04b] text-white rounded-md hover:bg-opacity-90"
          >
            Accept All Cookies
          </button>
        </div>
      </div>
    </div>

    <header class="fixed bg-white h-fit inset-0 w-full z-50">
      <div
        class="container py-5 flex items-center justify-between gap-5 flex-wrap"
      >
        <div>
          <a href="/">
            <img class="w-44" src="/images/logo.png" alt="logo" />
          </a>
        </div>
        <nav class="hidden lg:block">
          <ul
            class="flex items-center gap-7 text-lg font-medium text-[#232323]"
          >
            <li class="transition-all services">
              <div
                class="flex items-center gap-2 transition-all hover:text-primary"
              >
                <a href="/services">Services</a>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div
                class="absolute service-item top-[100%] left-0 w-screen z-[9999] opacity-0 invisible transition-all"
              >
                <ul
                  class="container grid grid-cols-3 gap-10 bg-white p-7 border shadow rounded"
                >
                  <li>
                    <a href="/services/service-one">
                      <div>
                        <img
                          class="w-full h-fit transition-all hover:opacity-80"
                          src="https://adc-consulting.com/wp-content/uploads/2023/12/Design-1-5.jpg"
                          alt=""
                        />
                        <div>
                          <h3
                            class="text-base mt-4 transition-all hover:text-primary"
                          >
                            Financial Services
                          </h3>
                          <p class="text-xs mt-2 hover:text-black">
                            We accelerate the positive and responsible adoption
                            of data and AI, building infrastructure and systems
                            that seamlessly integrate across your organisation.
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/services/service-one">
                      <div>
                        <img
                          class="w-full h-fit transition-all hover:opacity-80"
                          src="https://adc-consulting.com/wp-content/uploads/2023/12/Design-1-4.jpg"
                          alt=""
                        />
                        <div>
                          <h3
                            class="text-base mt-4 transition-all hover:text-primary"
                          >
                            Engineering
                          </h3>
                          <p class="text-xs mt-2 hover:text-black">
                            We accelerate the positive and responsible adoption
                            of data and AI, building infrastructure and systems
                            that seamlessly integrate across your organisation.
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/services/service-one">
                      <div>
                        <img
                          class="w-full h-fit transition-all hover:opacity-80"
                          src="https://adc-consulting.com/wp-content/uploads/2023/12/Design-1-3.jpg"
                          alt=""
                        />
                        <div>
                          <h3
                            class="text-base mt-4 transition-all hover:text-primary"
                          >
                            Analytics
                          </h3>
                          <p class="text-xs mt-2 hover:text-black">
                            ADC accelerates the positive and responsible
                            adoption of data and AI, specialising in developing
                            intelligent algorithms that extract valuable
                            insights from extensive data.
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="transition-all hover:text-primary">
              <a href="/cases">Cases</a>
            </li>
            <li class="transition-all hover:text-primary">
              <a href="/about">About Us</a>
            </li>
            <li class="transition-all hover:text-primary">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>

        <div class="hidden lg:block">
          <a
            href="/schedule-consult"
            class="font-bold py-4 px-8 rounded-md bg-primary text-white transition-all hover:bg-black"
            >Get Consultant</a
          >
        </div>

        <div class="block lg:hidden">
          <i class="fa-solid fa-bars cursor-pointer" id="toggle-mobile-nav"></i>
        </div>
      </div>

      <!-- mobile menu -->
      <nav
        class="block lg:hidden fixed white min-h-screen inset-0 left-[-100%] top-[76px] w-full bg-white overflow-y-scroll mobile-nav transition-all duration-500"
        id="mobile-nav"
      >
        <ul
          class="flex flex-col w-full justify-center pt-10 items-center gap-7 text-lg font-medium text-[#232323]"
        >
          <li class="transition-all services-mobile">
            <div
              class="flex items-center gap-2 transition-all hover:text-primary"
            >
              <a href="/services">Services</a>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="ml-5">
              <li class="transition-all hover:text-primary">
                <a href="/services/service-one">Financial Services</a>
              </li>
              <li class="transition-all hover:text-primary">
                <a href="/services/service-one">Engineering</a>
              </li>
              <li class="transition-all hover:text-primary">
                <a href="/services/service-one">Analytics</a>
              </li>
            </div>
          </li>
          <li class="transition-all hover:text-primary">
            <a href="/cases">Cases</a>
          </li>
          <li class="transition-all hover:text-primary">
            <a href="/about">About Us</a>
          </li>
          <li class="transition-all hover:text-primary">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- hero section start -->
    <section
      style="background: url(/images/about-bg.jpg)"
      class="w-full min-h-screen"
    >
      <div class="w-full min-h-screen bg-black/40">
        <div class="container pb-20 flex flex-col justify-end min-h-screen">
          <h2 class="font-semibold text-white text-[45px] leading-[55px]">
            About ADC
          </h2>
          <p class="text-white text-xl mt-4">Where it all adds up.</p>
          <div>
            <a
              href="#"
              class="font-bold inline-block mt-2 py-4 px-8 rounded-full bg-primary text-white transition-all hover:bg-black"
              >Discover More</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- hero section end -->

    <!-- services section start -->
    <section class="py-24">
      <div class="container">
        <h2
          class="font-semibold text-center text-[24px] leading-[32px] sm:text-[30px] sm:leading-[40px] md:text-[36px] md:leading-[45px] lg:text-[45px] lg:leading-[55px]"
        >
          “We create real impact with data and AI by accelerating the positive
          and responsible adoption of data and AI in your organisation.”
        </h2>
        <p class="text-[#666666] mt-6 text-center w-[60%] mx-auto">
          ADC stands for ‘Amsterdam Data Collective’. We are a Data & AI
          Consultancy rooted in Amsterdam. Our essence is right there in the
          name: we’ve decided to identify ourselves as a collective, because
          people thrive in a well-connected group. It’s innately human to feel
          worthwhile when you are part of a bigger plan. That’s how we can
          really make a difference.
        </p>
      </div>
    </section>
    <!-- services section end -->

    <!-- about section start -->
    <section
      class="py-24 h-[550px] bg-center bg-cover"
      style="background-image: url(/images/about-bg-2.jpg)"
    >
      <div class="container flex items-end h-full">
        <div
          class="sm:w-[80%] md:w-[60%] lg:w-[40%] bg-[#44463E] p-10 text-white"
        >
          <p class="text-lg">
            Yet, the setup of the typical consultancy firm promotes
            individualism and silo formation. We realised the hard way that this
            doesn’t get the best out of people, nor out of data. We’ve seen data
            projects fail, because those involved were working too much on their
            own, focusing on selling hours and paperwork, biased towards quick
            wins over long-term impact.
          </p>
        </div>
      </div>
    </section>
    <!-- about section end -->

    <!-- about section start -->
    <section class="py-24 bg-[#F7F7F7]">
      <div class="container flex flex-col gap-36">
        <div class="grid sm:grid-cols-2 gap-10">
          <div>
            <img
              src="https://adc-consulting.com/wp-content/uploads/2023/08/c5496246-c463-469c-b77e-e03069cb2394-1.jpg"
              class="w-full rounded-lg"
              alt=""
            />
          </div>
          <div>
            <h2
              class="font-semibold text-[24px] leading-[32px] sm:text-[30px] sm:leading-[38px] md:text-[36px] md:leading-[44px] lg:text-[40px] lg:leading-[50px]"
            >
              We help organisations accelerate the positive and responsible
              adoption of data and AI.
            </h2>
            <p class="mt-5 text-[#666] text-lg">
              At ADC we bring together industry and domain expertise and
              strategy and execution with a comprehensive and pragmatic
              approach. Our focus extends beyond data fixation, encompassing
              people, processes, and technology to drive real impact for
              organisations. We view data as an integral part of a larger whole,
              enabling us to create meaningful outcomes.
            </p>
            <div class="mt-5 flex flex-wrap items-center gap-3">
              <a
                href="#"
                class="font-bold py-4 px-8 rounded-full bg-orange-400 text-white transition-all hover:bg-black flex items-center gap-2"
                ><i class="fa-solid fa-calendar-days"></i> Schedule a free
                consult</a
              >
            </div>
          </div>
        </div>
        <div class="grid sm:grid-cols-2 gap-10">
          <div>
            <h2
              class="font-semibold text-[24px] leading-[32px] sm:text-[30px] sm:leading-[38px] md:text-[36px] md:leading-[44px] lg:text-[40px] lg:leading-[50px]"
            >
              Founding history of ADC
            </h2>
            <p class="mt-5 text-[#666] text-lg">
              ADC is a Data & AI Consultancy that accelerates the positive and
              responsible adoption of data and AI. Since 2017, we have quickly
              grown from three founders – Frank Pardoel, Joël Tjong-A-Tjoe and
              Rik van der Woerdt – to over 150 of the brightest minds
              collaborating in Amsterdam, Copenhagen, and Stockholm.

              <br /><br />
              Throughout our journey, we have successfully supported many
              organisations in achieving their goals by identifying,
              co-creating, and implementing data-driven solutions. We firmly
              believe that technology should always serve as a means to an end,
              not an end in itself. Our initiatives empower organizations to
              proactively embrace change and shape a brighter future.
            </p>
            <div class="mt-5 flex flex-wrap items-center gap-3">
              <a
                href="#"
                class="font-bold py-4 px-8 rounded-full bg-orange-400 text-white transition-all hover:bg-black flex items-center gap-2"
                ><i class="fa-solid fa-calendar-days"></i> Schedule a free
                consult</a
              >
            </div>
          </div>
          <div>
            <img
              src="https://adc-consulting.com/wp-content/uploads/2023/07/founding.jpg"
              class="w-full rounded-lg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- abou section end -->

    <section class="py-24">
      <div class="container">
        <h2
          class="font-semibold text-center text-[24px] leading-[32px] sm:text-[30px] sm:leading-[40px] md:text-[36px] md:leading-[45px] lg:text-[45px] lg:leading-[55px]"
        >
          Meet the collective leaders
        </h2>
        <p class="text-[#666666] mt-6 text-center w-[60%] mx-auto">
          While processes and technologies create the framework for success, it
          is our people who deliver the magic.
        </p>

        <div class="mt-16 flex flex-col gap-20">
          <div>
            <h2 class="mb-7 text-[22px] sm:text-[24px] lg:text-[30px]">
              Global
            </h2>
            <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h2 class="mb-7 text-[22px] sm:text-[24px] lg:text-[30px]">
              Amsterdam
            </h2>
            <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h2 class="mb-7 text-[22px] sm:text-[24px] lg:text-[30px]">
              Copenhagen
            </h2>
            <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <div class="relative group">
                <img
                  src="https://adc-consulting.com/wp-content/uploads/2023/08/b53cece1-206f-421e-bbbe-9929f36d5878.jpg"
                  alt=""
                />
                <div
                  class="absolute inset-0 w-full h-full bg-black/40 flex items-end p-5 opacity-0 transition-all group-hover:opacity-100"
                >
                  <div class="text-white">
                    <h2
                      class="text-[22px] sm:text-[24px] lg:text-[30px] cursor-pointer"
                    >
                      John Doe
                    </h2>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  section start -->
    <section class="py-24 bg-[#F7F7F7]">
      <div class="container flex-col sm:flex-row flex gap-16 justify-between">
        <div class="w-full sm:w-[35%]">
          <h2
            class="font-semibold text-center text-[24px] leading-[32px] sm:text-[30px] sm:leading-[40px] md:text-[36px] md:leading-[45px] lg:text-[45px] lg:leading-[55px]"
          >
            Working in Europe
          </h2>
          <p class="text-[#666666] mt-6">
            With offices in Northern Europe and a highly diverse international
            team, we cater to clients across Europe, enabling them to adopt data
            and AI in a positive and responsible way.
          </p>
        </div>

        <div class="w-full sm:flex-1 grid gap-y-5 md:grid-cols-3">
          <div class="">
            <h2 class="text-2xl font-medium">Amsterdam</h2>
            <p class="text-[#666] mt-2">Our friendly team is here to help.</p>
            <p
              class="mt-2 cursor-pointer transition-all hover:text-primary flex items-center gap-2"
            >
              <i class="fa-solid fa-envelope"></i> info@adc-consulting.com
            </p>
          </div>
          <div class="">
            <h2 class="text-2xl font-medium">Copenhagen</h2>
            <p class="text-[#666] mt-2">Our friendly team is here to help.</p>
            <p
              class="mt-2 cursor-pointer transition-all hover:text-primary flex items-center gap-2"
            >
              <i class="fa-solid fa-envelope"></i> info@adc-consulting.com
            </p>
          </div>
          <div class="">
            <h2 class="text-2xl font-medium">Stockholm</h2>
            <p class="text-[#666] mt-2">Our friendly team is here to help.</p>
            <p
              class="mt-2 cursor-pointer transition-all hover:text-primary flex items-center gap-2"
            >
              <i class="fa-solid fa-envelope"></i> info@adc-consulting.com
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- statistics section end -->

    <!-- about section start -->
    <section class="py-24 bg-white">
      <div class="container">
        <div class="grid md:grid-cols-2 items-center gap-10">
          <div>
            <h2 class="font-normal text-[30px] leading-[50px]">
              What stage is your organisation in on its data-driven journey?
            </h2>
            <p class="mt-5 text-[#666] text-lg">
              Discover your data maturity stage. Take our Data Maturity
              Assessment to find out and gain valuable insights into your
              organisation’s data practices.
            </p>
            <div class="mt-5 flex items-center gap-3">
              <a
                href="#"
                class="font-bold py-4 px-8 rounded-full bg-primary text-white transition-all hover:bg-black"
                >Read more about the assessment</a
              >
            </div>
          </div>
          <div class="hidden md:block">
            <img
              src="/images/services/service-footer.png"
              class="w-full rounded-lg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- about section end -->

    <footer class="bg-gray-800 text-white">
      <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <!-- Address Section -->
          <div class="space-y-4">
            <div>
              <ul class="space-y-4">
                <li>
                  <p>Want to connect?</p>
                  <h4>
                    <a
                      href="mailto:info@validthemes.com"
                      class="text-primary hover:underline"
                      >info@validthemes.com</a
                    >
                  </h4>
                </li>
                <li>
                  <p>Call us anytime</p>
                  <h4>
                    <a
                      href="tel:+4733378901"
                      class="text-primary hover:underline"
                      >+4733378901</a
                    >
                  </h4>
                </li>
                <li>
                  <p>Our Location</p>
                  <h4>175 10h Street, Office 375 Berlin, Devolina 21562</h4>
                </li>
              </ul>
            </div>
          </div>
          <!-- Quick Links Section -->
          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Quick Links</h4>
            <ul class="space-y-2">
              <li>
                <a href="about-us.html" class="text-primary hover:underline"
                  >Company Profile</a
                >
              </li>
              <li>
                <a href="contact-us.html" class="text-primary hover:underline"
                  >Help Center</a
                >
              </li>
              <li>
                <a href="about-us.html" class="text-primary hover:underline"
                  >Career</a
                >
              </li>
              <li>
                <a href="pricing.html" class="text-primary hover:underline"
                  >Plans & Pricing</a
                >
              </li>
              <li>
                <a
                  href="blog-with-sidebar.html"
                  class="text-primary hover:underline"
                  >News & Blog</a
                >
              </li>
            </ul>
          </div>
          <!-- Our Services Section -->
          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Our Services</h4>
            <ul class="space-y-2">
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Manage investment</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Email Marketing</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Growth Hacking</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Lead Generation</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Offline SEO</a
                >
              </li>
            </ul>
          </div>
          <!-- Newsletter Section -->
          <div class="space-y-4">
            <p>
              Join our subscribers list to get the latest <br />
              news and special offers.
            </p>
            <form action="#" class="flex flex-col space-y-2">
              <input
                type="email"
                placeholder="Your Email"
                class="p-2 border border-gray-300 rounded"
                name="email"
              />
              <button
                type="submit"
                class="bg-primary text-white py-2 px-4 rounded hover:bg-black flex items-center justify-center"
              >
                <i class="fa fa-paper-plane"></i>
              </button>
            </form>
            <fieldset class="flex items-center space-x-2">
              <input
                type="checkbox"
                id="privacy"
                name="privacy"
                class="form-checkbox"
              />
              <label for="privacy" class="text-sm"
                >I agree to the Privacy Policy</label
              >
            </fieldset>
          </div>
        </div>
        <!-- Footer Bottom -->
        <div class="border-t border-gray-600 mt-8 pt-4">
          <div class="flex flex-col md:flex-row justify-between items-center">
            <p>
              © Copyright 2024. All Rights Reserved by
              <a href="#" class="text-primary hover:underline">validthemes</a>
            </p>
            <ul class="flex space-x-4 mt-4 md:mt-0">
              <li>
                <a href="#" class="text-primary hover:underline">Terms</a>
              </li>
              <li>
                <a href="#" class="text-primary hover:underline">Privacy</a>
              </li>
              <li>
                <a href="#" class="text-primary hover:underline">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/45f30cfcd1.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
