<%- include('partials/header') %>

<!-- cases section start -->
<section class="py-24 mt-12">
  <div class="container">
    <h2
      class="font-semibold text-center text-[24px] leading-[32px] sm:text-[30px] sm:leading-[40px] md:text-[36px] md:leading-[45px] lg:text-[45px] lg:leading-[55px]"
    >
      Our Cases
    </h2>
    <p class="text-[#666666] mt-6 text-center w-[60%] mx-auto">
      Find inspiration, gain valuable insights, and discover effective
      solutions.
    </p>

    <div class="mt-16 grid sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/1.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >Picked up a Brussels burger Sprouts with ham</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/2.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >This prefabrice passive house is highly sustainable</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/3.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >Announcing if attachment resolution sentim.</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/1.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >Picked up a Brussels burger Sprouts with ham</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/2.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >This prefabrice passive house is highly sustainable</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/3.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >Announcing if attachment resolution sentim.</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/1.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >Picked up a Brussels burger Sprouts with ham</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/2.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >This prefabrice passive house is highly sustainable</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
      <div>
        <div class="relative">
          <img class="rounded-lg w-full" src="/images/cases/3.jpg" alt="" />
          <div
            class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
          >
            <span class="inline-block border rounded-full px-4 py-1"
              >Agriculture</span
            >
            <p class="text-[#666] font-medium">July 24, 2024</p>
          </div>
        </div>
        <a
          href="#"
          class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
          >Announcing if attachment resolution sentim.</a
        >
        <a
          href="#"
          class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
          >Read more</a
        >
      </div>
    </div>
  </div>
</section>
<!-- cases section end -->

<!-- about section start -->
<section class="py-24 bg-[#F7F7F7]">
  <div class="container">
    <div class="grid md:grid-cols-2 items-center gap-10">
      <div>
        <h2 class="font-normal text-[30px] leading-[50px]">
          What stage is your organisation in on its data-driven journey?
        </h2>
        <p class="mt-5 text-[#666] text-lg">
          Discover your data maturity stage. Take our Data Maturity Assessment
          to find out and gain valuable insights into your organisation’s data
          practices.
        </p>
        <div class="mt-5 flex items-center gap-3">
          <a
            href="#"
            class="font-bold py-4 px-8 rounded-full bg-primary text-white transition-all hover:bg-black"
            >Read more about the assessment</a
          >
        </div>
      </div>
      <div class="hidden md:block">
        <img
          src="/images/services/service-footer.png"
          class="w-full rounded-lg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- about section end -->

<%- include('partials/footer') %>
