<%- include('partials/header') %>

<!-- cases section start -->
<section class="py-24 mt-12 bg-[#f7f7f7]">
  <div class="container overflow-hidden">
    <h2
      class="text-[36px] sm:text-[40px] md:text-[50px] lg:text-[60px] leading-[60px] sm:leading-[64px] md:leading-[74px] lg:leading-[84px]"
    >
      AI-Powered Chatbots: Transforming Customer Support for a Global Insurance
      Leader
    </h2>
    <a
      href="#"
      class="font-bold inline-block mt-2 py-4 px-8 rounded-full bg-primary text-white transition-all hover:bg-black"
      >Read More</a
    >
    <img src="/images/case.jpg" class="w-full mt-10 rounded-md" alt="" />
  </div>
</section>
<!-- cases section end -->

<!-- case details section start -->
<section class="py-10">
  <div class="container">
    <p class="italic">
      Our client, a major international insurance company, wanted to boost
      customer engagement and satisfaction using the latest AI technology. This
      led to the development of an AI-powered chatbot designed to interact and
      assist users on their website. Beyond just building the chatbot, a key
      challenge was managing the risks associated with deploying this new
      system. Keep reading to discover how we worked closely with our client to
      identify the system’s needs and successfully bring this innovative
      solution to life.
    </p>

    <div class="mt-10">
      <h2 class="text-4xl font-normal">Executive Summary</h2>
      <div class="mt-5 flex flex-col gap-4">
        <div>
          <p class="py-3 px-10 bg-gray-500 text-white text-sm">Challenge</p>
          <p class="bg-white shadow py-2 px-5 text-lg">
            Transforming customer support for a large insurance company seeking
            24/7 service while mitigating costs.
          </p>
        </div>
        <div>
          <p class="py-3 px-10 bg-gray-500 text-white text-sm">Approach</p>
          <p class="bg-white shadow py-2 px-5 text-lg">
            Strategically initiating the use of LLM-powered chatbots, starting
            with domain-specific contexts, and ensuring compliance with
            regulations.
          </p>
        </div>
        <div>
          <p class="py-3 px-10 bg-gray-500 text-white text-sm">Challenge</p>
          <p class="bg-white shadow py-2 px-5 text-lg">
            Transforming customer support for a large insurance company seeking
            24/7 service while mitigating costs.
          </p>
        </div>
        <div>
          <p class="py-3 px-10 bg-gray-500 text-white text-sm">Challenge</p>
          <p class="bg-white shadow py-2 px-5 text-lg">
            Transforming customer support for a large insurance company seeking
            24/7 service while mitigating costs.
          </p>
        </div>
        <div>
          <p class="py-3 px-10 bg-gray-500 text-white text-sm">Challenge</p>
          <p class="bg-white shadow py-2 px-5 text-lg">
            Transforming customer support for a large insurance company seeking
            24/7 service while mitigating costs.
          </p>
        </div>
      </div>
    </div>

    <div class="mt-10">
      <h2 class="text-4xl font-normal">Challenge</h2>
      <p class="mt-5">
        Our client, a large international insurance company, was looking to
        increase the engagement and satisfaction of their customers by providing
        24/7 customer support. However, offering such support is costly,
        prompting them to investigate other options. Consequently, they
        approached ADC to investigate the possibility of using LLM-powered
        chatbots to help alleviate the pressure on their support desks and
        obtain a highly tailored solution that would comply with their corporate
        values while also engaging their customers.
      </p>
    </div>

    <div class="mt-10">
      <h2 class="text-4xl font-normal">Approach</h2>
      <p class="mt-5">
        Since LLM-powered chatbots are still in the beginning phase of their
        maturity cycle, we started with creating multiple context-aware chatbots
        for different support domains. For each of these domains, it was
        necessary to first evaluate the regulations and policies related to AI
        and make sure that our solution would be fully compliant.

        <br />
        <br />
        Subsequently, we determined the functional requirements of the chatbots.
        We then translated these into technical and implementation requirements
        relating to the architecture of the chatbot setup and required
        infrastructure. Afterward, we developed a minimum viable chatbot (MVC)
        for each domain. These MVCs were then tested through a phased testing
        approach where each phase was increasingly more public.
      </p>
    </div>

    <div class="mt-10">
      <h2 class="text-4xl font-normal">Implementation & Solution</h2>
      <h4 class="font-semibold mt-5">Functional Requirements</h4>
      <p class="mt-5">
        In collaboration with the client, we established the functional
        requirements of a customer-facing chatbot. At a high level, these
        include:
      </p>
      <ul class="mt-6 ml-6 list-disc">
        <li>
          Performance – Ensuring accurate and relevant responses in an
          appropriate tone, while filtering out any potentially harmful or
          biased content.
        </li>
        <li>
          Flexibility – Adapting solutions quickly and easily in the
          fast-evolving environment.
        </li>
        <li>
          Data Privacy & Ownership – Prioritising sole client ownership of the
          data and preventing externals having access to it.
        </li>
      </ul>
      <h4 class="font-semibold mt-5">
        Technical & Implementation Requirements
      </h4>
      <p class="mt-2">
        To ensure our chatbot met the performance requirements, we opted for a
        setup using two language models (LLMs), with the first one enhanced by
        Retrieval Augmented Generation (RAG). This ‘vanilla LLM’ augmented with
        RAG empowers the chatbot with specific domain knowledge, allowing it to
        provide accurate and relevant answers based on context provided by the
        system developer.
        <br />
        <br />
        To address concerns about tone, harmful content, and biases, we
        implemented a second LLM to review and refine responses before reaching
        the end user. Leveraging our client’s existing use of Azure and Office
        365, we chose Azure cloud for this design. The focus on accuracy,
        relevancy, tone, and content filtering set our architecture apart from a
        straightforward call to the OpenAI service in Azure.

        <br />
        <br />
        For flexibility, we decided to implement and maintain the solution with
        a mix of our internal team and external developers. This, coupled with
        the use of the RAG framework, allows easy modification of chatbot
        behaviour by updating prompts and context. Lastly, to ensure data
        privacy, we decided to host the solution on our client’s cloud servers
        and virtual network.
      </p>
      <h4 class="font-semibold mt-5">
        Minimum Viable Chatbot (MVC) Development & Testing Phase
      </h4>
      <p class="mt-2">
        Like any customer-facing product, implementing a well-structured
        incremental testing and roll-out plan was important. So, we worked with
        a three-phased plan. Following each phase, a dedicated committee
        evaluated the results and decided whether the chatbots were ready for
        the next testing phase or required further refinement.
        <br />
        <br />
        In the first phase, the chatbots were only made available to internal
        developers, who could access them via a private link with a username and
        password log-in. The developers were encouraged to test the chatbots,
        trying to prompt inadequate responses to simulate a worst-case scenario
        involving a user with malicious intent.
        <br /><br />The second phase extended access to friends and family,
        focusing on refining legal disclaimers on the front-end and qualitative
        aspects like tone of voice and user-friendliness. The final phase was a
        limited roll-out, where the chatbots were made available to a select
        number of customers.
      </p>
      <h4 class="font-semibold mt-5">Final Deliverable</h4>
      <p class="mt-2">
        For each domain, the client received a user-friendly front-end where the
        customer can interact with the chatbot, a robust back-end with the
        infrastructure to host the system and log interactions, and
        documentation covering the entire system.
      </p>
      <img src="/images/case-example.png" class="w-full mt-5" alt="" />
      <i class="mt-3 inline-block"
        >Figure 1. Three chatbot architectures of increasing complexity. The
        leftmost architecture is the simplest but lacks content and does not
        audit tone or filter harmful content. The rightmost architecture
        provides context and does the response auditing.
      </i>
      <h2 class="text-4xl mt-10 font-normal">Impact for Client</h2>
      <p class="mt-4">
        Through this project, our client achieved significant milestones,
        including 24/7 customer support on multiple customer support domains,
        setting them apart from competitors in customer service. Additionally,
        they now have a tool that sustains user engagement on targeted domains
        and provides information in a natural and simple way. Importantly, the
        project successfully mitigated potential risks associated with the
        technology, while complying with corporate policies.
        <br />
        <br />
        These steps pave the way for further innovations. The chatbots could be
        rolled out to other parts of the business. Furthermore, the existing
        use-cases could be extended and improved. What if – for example – one
        could use AI to determine when a customer is better serviced by a human?
        Then the AI system could handle the main body of questions, but for
        specific questions, a human could be brought into the loop. The
        possibilities for future innovations are extensive, opening avenues for
        continued growth and success.
      </p>
      <h2 class="text-4xl mt-10 font-normal">Learnings & Challenges</h2>
      <p class="mt-4">
        Every project brings many insights, and here, we will highlight three
        key learnings:
      </p>
      <ol class="mt-4 ml-6 list-decimal">
        <li>
          Risk management and compliancy should be considered by design. This
          means that relevant stakeholders should already be included from the
          design phase onwards, and the developers should be aware of the
          relevant organisation policies and values throughout the process.
        </li>
        <li>
          Since the chatbot heavily relies on the context it receives, ensuring
          its accuracy and high quality is important. Furthermore, the chatbot
          should refrain from providing information beyond its given context.
          Achieving these required significant adjustments to both the
          architecture and context. Simple changes in instructions can have a
          big effect on outcomes, so it pays off to take time for
          experimentation.
        </li>
        <li>
          The project demonstrates that it’s possible to safely deploy
          high-quality customer facing chatbots. This is relevant for a variety
          of organisations.
        </li>
      </ol>
      <h2 class="text-4xl mt-10 font-normal">Continue the Conversation</h2>
      <p class="mt-4">
        Are you interested in discovering how ADC can assist your organisation?
        Our team has extensive experience in developing solutions that help
        streamline data management processes and create robust strategies.
        <span class="font-semibold">To learn more, please contact</span>
        <span class="cursor-pointer text-primary"
          >Edward Jansen (Strategy Lead).</span
        >
      </p>
      <a
        href="#"
        class="font-bold mt-5 inline-block py-4 px-8 rounded-full bg-primary text-white transition-all hover:bg-black"
        >Send Mail</a
      >
    </div>
  </div>
</section>
<!-- case details section end -->

<!-- about section start -->
<section class="py-24 bg-[#F7F7F7]">
  <div class="container">
    <div class="grid md:grid-cols-2 items-center gap-10">
      <div>
        <h2 class="font-normal text-[30px] leading-[50px]">
          What stage is your organisation in on its data-driven journey?
        </h2>
        <p class="mt-5 text-[#666] text-lg">
          Discover your data maturity stage. Take our Data Maturity Assessment
          to find out and gain valuable insights into your organisation’s data
          practices.
        </p>
        <div class="mt-5 flex items-center gap-3">
          <a
            href="#"
            class="font-bold py-4 px-8 rounded-full bg-primary text-white transition-all hover:bg-black"
            >Read more about the assessment</a
          >
        </div>
      </div>
      <div class="hidden md:block">
        <img
          src="/images/services/service-footer.png"
          class="w-full rounded-lg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- about section end -->

<%- include('partials/footer') %>
